<h2 class="text-center mt-4"> <%= @user.username %>'s account</h2>
<div class="text-center">
  <img src="<%= asset_path('Rostro.jpg') %>" class="rounded mx-auto d-block shadow " alt="Profile photo" style="width:140px;height:210px;">
</div>
<% user = @user %>
<h2 class="text-center mt-4"> Articles</h2>
<%= render "articles/article" %>
