<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
      <div class="container py-4">
        <div class="bg-success p-3 bg-opacity-25">
          <! Jombotron -->
          <div class="container py-5 img-fluid rounded-4">
            <div class="text-center text-white">
              <h1 class="display-4 fw-bold">Articles</h1>
              <p>
                All the articles allow to read
              </p>
              <a class="btn btn-success btn-lg" href= <% articles_path %> role="button">Sign up!</a>
              <p></p>
              <%= link_to "Back to articles", articles_path %>
            </div>
          </div>
      </div>
  </body>
</html>
